.ClickerButton-container {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  outline: none;
}

.ClickerButton-button {
  font-size: 150px;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;
  user-select: none;
  outline: none;
}

.ClickerButton-click {
  position: absolute;
  font-size: 80px;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  user-select: none;
  animation: clickAnimation 1s ease-out;
  opacity: 1;
  outline: none;
  transform: translateY(0) translateX(0);
  transition: opacity 1s, transform 1s;
}

@keyframes clickAnimation {
  0% {
    top: var(--clickY);
    opacity: 1;
    transform: translateY(0) translateX(0);
    /* Используем начальное значение смещения */
  }

  50% {
    opacity: 1;
    transform: translateY(-50px) translateX(var(--translateX)) rotate(calc(var(--rotate) + var(rotate)));
    /* Используем значение смещения по оси Y на половину пути и по оси X */
  }

  100% {
    top: 0;
    opacity: 0;
    transform: translateY(-100px) translateX(var(--translateX)) rotate(var(--rotate));
    /* Используем конечное значение смещения */
  }
}

.click-left {
  --translateX: -100px;
  --rotate: -50deg;
  /* Задаём смещение влево */
}

.click-right {
  --translateX: 100px;
  --rotate: 50deg;
  /* Задаём смещение вправо */
}