* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  height: 100vh;
  overflow-x: hidden;
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
  transition: all 1s;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.clicker__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}

.bottom{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.bottom__shop{
  position: fixed;
  width: 100%;
}
